<h2>Paises</h2>
<hr>
<ul class="list-group ">

  <!-- <li routerLink=""
  routerLinkActive="active"
  [routerLinkActiveOptions]="{exact:true}"s
  class="list-group-item">
    Home Page
  </li>

  <li routerLink="about"
  routerLinkActive="active"
  class="list-group-item ">
    About Page
  </li>

  <li routerLink="contact"
  routerLinkActive="active"
  class="list-group-item ">
    Contact Page
  </li> -->


  <li routerLink="countries/by-capital"
  routerLinkActive="active"
  class="list-group-item list-group-item-action list-group-item-primary">
    Por Capital
  </li>


  <li routerLink="countries/by-country"
  routerLinkActive="active"
  class="list-group-item list-group-item-action list-group-item-primary ">
    Por Pais
  </li>


  <li routerLink="countries/by-region"
  routerLinkActive="active"
  class="list-group-item list-group-item-action list-group-item-primary ">
    Por Región
  </li>

</ul>
